<!--Jumbotron section begins-->
<div class="jumbotron text-center">
  <h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> World Machine</h1>
  <p class="lead">We specialise in building quality websites</p>
  <p>(Currently under construction, please excuse the messiness! :D )</p>
  <br/>
  <form class="form-inline">
    <div class="input-group">
      <input type="email" class="form-control" size="50" placeholder="Email Address" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-default">Subscribe</button>
      </div>
    </div>
  </form>
</div>
<!--Jumbotron section ends-->

<!--About us section-->
<div id="my-about-form" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About World Machine</h2>
      <h4>World Machine Technology builds tailor-made web sites designed to be easy to use along with a fresh, modern look and feel no matter what devices are used to access it.  Clean, clear and concise providing room to grow and change in the future.</h4>

      <p>Technology.  A word that conjures up images of progress, of moving forward, the future.  It can also mean mystery, interesting but inaccessible new ways of marketing business, of individuals.  A 2016 survey in Ireland, revealed almost 20% of SMEs don't have an online presence.  Oddly, just a similar number of businesses are web sales enabled.  This is why Word Machine came into existence.  To simply try to close that gap by providing a personalised web presence.  Today, social media is the very fabric of people and business tailor-made amongst the crowd.
      </p>
      <button class="btn btn-default btn-lg">Get in touch</button>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-cog logo col-sm-4"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo slideanim col-sm-4"></span>
    </div>
    <div class="col-sm-8">
      <h2>Our values</h2>
      <h4><strong>MISSION:</strong> Our mission lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4>
      <p><strong>VISION:</strong> Our vision Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>
<!--About us section ends-->

<!--Services we offer-->
<div id="my-services-form" class="container-fluid text-center">
  <h2>SERVICES</h2><br/>
  <h4>What we offer</h4>
  <br/>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-pencil logo-small"></span>
      <h4>WEB DESIGN</h4>
      <p>Our 'no fuss' approach to building you a website means we focus on form and functionality whilst minimizing
      jargon and unnecessary tech specs.  Go from wrestling with many social media sites and put your message
      in one place, clean and easy to access leaving you free to actually do business!</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-home logo-small"></span>
      <h4>CUSTOM SITES</h4>
      <p>At World Machine, we strive to build the most unique application for your business.  We steer clear of
      widely used but limiting 'build-your-own' website websites!  Instead, we begin from the ground up but avoiding
      throwing every little thing into the site cluttering up your message.</p>
    </div>
    <div class="col-sm-">
      <span class="glyphicon glyphicon-bullhorn logo-small"></span>
      <h4>BLOGS</h4>
      <p>We can build you your own blog site where you can control how big the crowd gets.  No more 'shouting into
      the void' as you integrate your own, personal blog with other popular outlets.  Be heard, not herded!</p>
    </div>
  </div>
  <br/><br/>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench logo-small"></span>
      <h4>MAINTENANCE</h4>
      <p>Here at World Machine, we are careful about security and use the best tools and technology available to
      stay ahead of nefarious intent.  We keep a close eye on the latest security features and make all necessary
      upgrades and updates to keep sites secure.  Won't have to worry about international espionage here!</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>DOMAIN NAMES</h4>
      <p>As well as building you a world class site, we can if you like, obtain a www.yourname.ie address too.  There
      are annual charges for these services but once setup and maintained on a regular basis, they remain yours to
      hold.  Branding is important to our customers and online it actually IS your business too!</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-phone logo-small"></span>
      <h4>MOBILE FRIENDLY</h4>
      <p>At World Machine we recognize there are so many ways to access your site.  We make sure your website is
      mobile friendy from the very beginning so whether your customers prefer to use the smallest smartphone, medium
      sized tablet, laptops, PCs or your 6 foot TV screen!  It will look just right.</p>
    </div>
  </div>
</div>
<!--Services ends-->

<!--Portfolio section begins-->
<div id="my-portfolio-form" class="container-fluid text-center bg-grey">
  <h2>PORTFOLIO</h2><br/>
  <h4>The story so far...</h4>
  <div class="row text-center slideanim">
    <%= link_to("http://grushenka.herokuapp.com/", target: '_blank') do %>
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= image_tag "Grushenka.jpg" %>
          <p><strong>Grushenka.com</strong></p>
          <p>Singer, songwriter online shop with gig guide, sample songs and videos built with Ruby on Rails, HTML, CSS
            and JavaScript.  A college project for my H. Dip.</p>
        </div>
      </div>
    <% end %>
    <%= link_to("http://cakemyday.herokuapp.com/", target: '_blank') do %>
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= image_tag "CakeMyDay.jpg" %>
          <p><strong>CakeMyDay.ie</strong></p>
          <p>Novelty cake decorator online shop built with Ruby on Rails, HTML, CSS and JavaScript.
            A joint college project with my good friend and mentor, Dan Laffan.</p>
        </div>
      </div>
    <% end %>
    <%= link_to("https://github.com/JulianArnold", target: '_blank') do %>
    <div class="col-sm-4">
      <div class="thumbnail">
        <%= image_tag "GitHub.jpg" %>
        <p><strong>GitHub.com</strong></p>
        <p>Code for all demonstration and college projects can be found in public repositories on GitHub.  Please
        feel free to follow me and ask any questions about the content.</p>
      </div>
    </div>
    <% end %>
  </div><br/>
  <h2>WHAT OUR CUSTOMERS SAY</h2>
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <!--li data-target="#myCarousel" data-slide-to="2"></li-->
    </ol>

    <!--Wrapper for slides-->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h4>"World Machine are excellent!  I had wanted an online shop and a place to list my next gigs and
          delighted with the result!"<br/><span style="font-style:normal;">Grushenka Arnold, Grushenka.com</span></h4>
      </div>
      <div class="item">
        <h4>"I love my new website, there's so many features there now, I can focus on making
        cakes and less time on paperwork!"<br/><span style="font-style:normal;">Geraldine Arnold, Owner,
        Cake My Day</span></h4>
      </div>
    </div>
    <br/><br/>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<!--Portfolio section ends-->

<!--Pricing section typically goes here but is omitted for the time being-->

<!--Contact section begins-->
<div id="my-contact-form" class="container-fluid">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span>  Leixlip, Co. Kildare</p>
      <p><span class="glyphicon glyphicon-phone"></span>  +353 (0)86 804 5027</p>
      <p><span class="glyphicon glyphicon-envelope"></span>  julian.arnold123@gmail.com</p>
    </div>

    <%= form_for @contact do |f| %>
      <div class="col-sm-7 slideanim">
        <% if flash[:success] %>
          <div class="alert alert-success" role="alert">
            <%= flash[:success] %>
          </div>
        <% elsif flash[:error] %>
          <div class="alert alert-danger" role="alert">
            <%= flash[:error] %>
          </div>
      <% end %>

        <div class="row">
          <div class="col-sm-6 form-group">
            <%= f.text_field :name, class: 'form-control', placeholder: 'Your Name', required: true %>
          </div>
          <div class="col-sm-6 form-group">
            <%= f.email_field :email, class: 'form-control', placeholder: 'Your Email', required: true %>
          </div>
        </div>
        <%= f.text_area :message, class: 'form-control', placeholder: 'Comment', rows: 5 %>
        <br/>
        <div class="row">
          <div class="col-sm-12 form-group">
            <%= f.submit 'Send', class: 'btn btn-default pull-right' %>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>

<!--Add Google Maps-->
<div id="googleMap" style="height:400px;width:100%;"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCm4ANfRPEXGa-UVH-P-tu9c1hetOJDzlc&callback=myMap"></script>
<!--Contact section ends-->

